%p#notice= notice
= render "./layouts/header"
.study
  .study__box
    %p.img-detail
      %b.img-detail__text
        Title:
      = @article.title
    .movies
      = link_to @article.video_url.to_s do
        = image_tag(@article.video_url(:screenshot).to_s, id: "video", :alt => "screenshot")
    .changes
      = link_to 'Back', articles_path
      　　|　　
      = link_to 'Next', articles_path

