.top-page
  .top-page__header
    .top-page__header__box
      .top-page__header__box__logo
        = image_tag 'kensazemi.png'
      .top-page__header__box__user
        .top-page__header__box__user__userId
          user id:######
        .top-page__header__box__user__userName
          寺村　達也
    .study
      .study__box
        .study__box__wrap
          .study__box__wrap__lesson
            .study__box__wrap__lesson__img
              = image_tag 'beauty1.jpeg', class:"lesson-img"
            .study__box__wrap__lesson__that
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  国語
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  算数
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  理科
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  社会
          .study__box__wrap__lesson
            .study__box__wrap__lesson__img
              = image_tag 'beauty2.jpeg', class:"lesson-img"
            .study__box__wrap__lesson__that
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  国語
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  算数
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  理科
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  社会
          .study__box__wrap__lesson
            .study__box__wrap__lesson__img
              = image_tag 'beauty3.jpeg', class:"lesson-img"
            .study__box__wrap__lesson__that
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  国語
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  算数
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  理科
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  社会
          .study__box__wrap__lesson
            .study__box__wrap__lesson__img
              = image_tag 'beauty4.jpeg', class:"lesson-img"
            .study__box__wrap__lesson__that
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  国語
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  算数
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  理科
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  社会
          .study__box__wrap__lesson
            .study__box__wrap__lesson__img
              = image_tag 'beauty1.jpeg', class:"lesson-img"
            .study__box__wrap__lesson__that
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  国語
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  算数
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  理科
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  社会
          .study__box__wrap__lesson
            .study__box__wrap__lesson__img
              = image_tag 'beauty2.jpeg', class:"lesson-img"
            .study__box__wrap__lesson__that
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  国語
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  算数
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  理科
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  社会
          .study__box__wrap__lesson
            .study__box__wrap__lesson__img
              = image_tag 'beauty3.jpeg', class:"lesson-img"
            .study__box__wrap__lesson__that
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  国語
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  算数
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  理科
              = link_to root_path, class:"lesson-change" do
                .study__box__wrap__lesson__that__move
                  社会
.footer
  
