= render "./layouts/header"
.mypage
  .mypage__wrap
    .mypage__wrap__right
      = link_to root_path, class: "mypage__wrap__right__link" do
        .mypage__wrap__right__link__list
          一覧へ
      = link_to root_path, class: "mypage__wrap__right__link" do
        .mypage__wrap__right__link__list
          国語
      = link_to root_path, class: "mypage__wrap__right__link" do
        .mypage__wrap__right__link__list
          算数
      = link_to root_path, class: "mypage__wrap__right__link" do
        .mypage__wrap__right__link__list
          理科
      = link_to root_path, class: "mypage__wrap__right__link" do
        .mypage__wrap__right__link__list
          社会
      = link_to root_path, class: "mypage__wrap__right__link" do
        .mypage__wrap__right__link__list
          英語
      = link_to root_path, class: "mypage__wrap__right__link" do
        .mypage__wrap__right__link__list
          図工
    .mypage__wrap__left
      .mypage__wrap__left__list
        lesson 1
      .lesson
        .lesson__movie
          = image_tag "beauty2.jpeg", class:"lesson__movie__img"
        .lesson__memo
          基礎はここから！　何度も繰り返して頭に叩き込もう！！