!!!
%html
  %head
    %meta{:content => "”width=device-width,initial-scale=1.0″", :name => "”viewport”"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.7.2/css/all.css", :integrity => "sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", :rel => "stylesheet"}/
    %title Medwide
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if user_signed_in?
      .user_nav.grid-6
        = link_to "ログアウト", destroy_user_session_path, method: :delete
        -# %a.post{:href => "/posts/new"} 投稿する
    - else
      .grid-6
        -# = link_to "ログイン", new_user_session_path, class: 'post'
        -# = link_to "新規登録", new_user_registration_path, class: 'post'
  %body
    %p.notice= notice
    %p.alert= alert
    = yield
